
@import '../variables.css';

.now-playing {
  border-radius: 3px;
  padding: 15px 15px;
  width: 90%;
  margin: 20px auto;
  background: #3B3546;
  white-space: nowrap;
  position: fixed;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 70px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 120px;
    right: 0;
    left: auto;
    bottom: auto;
    margin: 20px 50px;
    width: 22%;
    height: 350px;
  }

  h3 {
    margin: 5px 0 20px;
  }
  .artwork {
    width: 44px;
    margin: 0px 10px 10px 0;
    display: inline-block;
    vertical-align: top;

    @media screen and (min-width: 768px) {
      width: 200px;
      display: block;
      margin: 35px auto 0;

    }



  }
  .info {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    position: relative;
    width: 90%;

    @media screen and (min-width: 768px) {
      display: block;
      margin: 10px 25px;
      position: static;
    }

    .currently {
      text-transform: uppercase;
      font-size: 12px;
      margin: 5px 0;

      @media screen and (min-width: 768px) {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 14px;
      }
    }
    .name {
      font-weight: 700;
      margin-right: 7px;
    }
    .artist {
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }
  .song {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .rating {
    position: absolute;
    float: right;
    top: 14px;
    right: 14px;
    z-index: 99999999;

    @media screen and (min-width: 768px) {
      float: left;
      top: auto;
      right: auto;
      bottom: 12px;
      left: 40px;
    }

    .material-icons {
      font-size: 18px;
      margin: 0 1px;
    }
  }
  .vote {
    width: 60px;
    padding-left: 10px;
    cursor: pointer;
    margin-left: 180px;

    i {
      width: 30px;
    }

    .upvotes {
      vertical-align: top;
      margin-top: 3px;
      margin-left: 5px;
      position: relative;
      top: 3px;
      bottom: 24px;
    }
  }
}
