@import '../variables.css';

.list-container {
  /* width: 100%; */
  @media screen and (min-width: 768px) {
    width: 60%;
    margin: 0 auto;
  }
}

tr {
  height: 70px;
  counter-increment: my_counter;

  .ranking {
    width: 30px;
    position: relative;
    top: -12px;
    color: #a8a2b2;
  }

  .name-artist {
    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .name {
      font-weight: 700;
    }
  }

  .vote {
    width: 60px;
    padding-left: 10px;
    cursor: pointer;
    .material-icons {
      display: inline-block;
      width: 30px;
    }

    .upvotes {
      vertical-align: top;
      margin-top: 3px;
      margin-left: 5px;
    }
  }
}