.search-results {
  width: 90%;
  margin: 0 auto;
  background: #E8E4EF;
  color: #A8A2B2;
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 10px;

  .search-results-tracks {
    padding: 0;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      cursor: pointer;
      padding: 10px 40px;
      border-bottom: 1px solid #B8ACCB;

      &:last-of-type {
        border: none;
      }

      .track-name {
        display: block;
        font-weight: 500;
        color: #3B3546;
        line-height: 18px;
      }

      .track-artist-name {
        display: block;
        font-size: 14px;
      }
    }
  }
}


