*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background: #1e1e2f;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.site {
  margin: 0;

  ul {
    list-style: none;
    padding: 0;
  }
}
