@import '../variables.css';

td {
  padding: 0px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.ranking {
    padding-left: 10px;
    width: 20px;
  }
  &.name {
    font-weight: 700;
    width: 100px;
  }
  &.artist {
    width: 90px;
  }
  &.vote {
    width: 30px;
    cursor: pointer;
  }
}
