@import '../variables.css';

tr {
  height: 70px;
  .ranking {
    width: 30px;
    position: relative;
    top: -12px;
    color: #A8A2B2;
  }
  .name-artist {
    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .name {
      font-weight: 700;
    }
  }
  .vote {
    width: 60px;
    padding-left: 10px;
    .upvotes {
      vertical-align: top;
      margin-top: 3px;
      margin-left: 5px;
    }
  }
}
