/* @import '~bootstrap/scss/bootstrap.scss'; */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background: #27232F;
  color: #fff;
}

.header {
  font-family: 'Asap', sans-serif;
  background: #15131A;
  padding: 20px 0 40px;

  .title {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      text-align: left;
      font-size: 36px;
      margin-top: 20px;
      margin-left: 50px;
    }

  }
}
