/* @import '~bootstrap/scss/bootstrap.scss'; */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background: #27232F;
  color: #fff;
}

.header {
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  background: #15131A;
  padding: 20px 0 40px;

  .title {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
  }
}
